pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
/examples/basics/out
/examples/basics/main.js
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.DS_Store
.idea
*.iml
/*-init.clj